@import "./variable.scss";

// - Footer ------------------------

footer {
  position: relative;
  background-image: url("../img/Diagonale.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  article {
    display: flex;
    flex-direction: column;
    width: 42vw;
    padding-top: 15vh;
    margin: 0 10vw;
    margin-bottom: 15vh;
    p {
      margin-bottom: 3vh;
    }
    h4 {
      line-height: 3.7rem;
      margin-bottom: 4vh;
    }
  }

  .footerFlex {
    margin: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .socialMedia {
      margin-bottom: 5vh;
      img {
        width: 1.5vw;
        margin: 0 0.2vw;
        margin-bottom: 1.5vh;
      }
    }
    p {
      margin-bottom: 1.5vh;
    }
  }

  .logos {
    margin-right: 5vw;
    img {
      width: 4vw;
      margin: 0 1vw;
    }
  }

  h1 {
    font-size: 8rem;
    color: #000000;
    span {
      color: rgb(244, 244, 244);
      -webkit-text-stroke: 1px black;
    }
  }

  .diagonaleAnimation {
    position: absolute;
    top: 0;
    left: 50%; /* Startposition: Mitte oben */
    transform: translateX(-50%) rotate(45deg); /* Text um 45 Grad drehen und zurückschieben */
    white-space: nowrap; /* Verhindert Zeilenumbrüche */
    animation: diagonalMove 5s linear infinite; /* Animation mit Namen "diagonalMove" */
  }

  @keyframes diagonalMove {
    0% {
      top: 0;
      left: 50%; /* Startposition: Mitte oben */
    }
    100% {
      top: 100%; /* Endposition: Text unten */
      left: 101%; /* Endposition: Text rechts */
    }
  }
}
