@import "./variable.scss";
@import "./footer.scss";
@import "./mixin.scss";

// ----------------------------

@font-face {
  font-family: Inter;
  src: url("../font/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: Work;
  src: url("../font/WorkSans-VariableFont_wght.ttf");
}

// - Fontsize ---------------------

h1 {
  @include my-style(4.5rem, Inter, 700, 3.5rem);
}

h2 {
  @include my-style(100px, Inter, 700, 110px);
}

h3 {
  @include my-style(85px, Inter, 700, 5rem);
}

h4 {
  @include my-style(1.9rem, Inter, 700, 2.8rem);
}

.numbers {
  @include my-style(100px, Inter, 600, 7rem);
}

// - General Style -------------------

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

.blackBG {
  background-color: $b;
  color: $w;
}

.buttonStyle {
  font-size: 20px;
  font-family: Work;
  width: 8vw;
  padding: 1.5vh 0;
  border: 0.6px solid $w;
  background-color: $b;
  color: $ws;

  &:hover {
    color: $b;
    background-color: $w;
  }
}

// - Header ----------------

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  .strich {
    width: 1px;
    height: 20vh;
    background-color: $w;
    opacity: 20%;
    margin-bottom: 5vh;
  }
  p {
    @include my-style(12px, Work, 400, 1rem);
    margin-bottom: 2vh;
  }
  .outlineText {
    color: $b;
    -webkit-text-stroke: 1px $w;
    margin-bottom: 2vh;
  }

  .bearButton {
    display: flex;
    justify-content: space-between;
    width: 80vw;

    margin-top: 40vh;
    margin-bottom: 25vh;
  }
}

// - 1. Section --------------------

.sectionOne {
  h2 {
    margin: 0 15vw 12vh 10vw;
  }

  article {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15vh;

    div {
      margin-left: 10vw;
      .numbers {
        margin-bottom: 3vh;
      }
    }
    img {
      width: 32vw;
      margin-top: -10vh;
    }
  }
}

// - 2. Section gestreute Bilderanordnung ----------------

.sectionTwo {
  display: flex;
  flex-direction: column;

  img {
    &:nth-of-type(1) {
      width: 25vw;
      margin: -10vh 10vw 10vh auto;
    }
    &:nth-of-type(2) {
      width: 20vw;
      margin-left: 5vw;
    }

    &:nth-of-type(3) {
      width: 20vw;
      margin: -5vh 0 0 80vw;
    }
    &:nth-of-type(4) {
      width: 25vw;
      margin: 0 auto 0 20vw;
    }
    &:nth-of-type(5) {
      width: 25vw;
      margin: -3vh 10vw 3vh auto;
    }
    &:nth-of-type(6) {
      width: 20vw;
      margin: 0 auto 5vh 0;
    }
    &:nth-of-type(7) {
      width: 30vw;
      margin: 0 auto -5vw 45vw;
    }
  }

  .stuck {
    width: 30vw;
    margin-left: 32vw;

    h3 {
      margin-bottom: 2vh;
    }

    p {
      @include my-style(13px, Work, 400, 1.6rem);
      padding-right: 8vw;
    }
  }

  .stuck2 {
    width: 30vw;
    margin: -24vh auto 15vh 32vw;

    p {
      padding-right: 5vw;
      @include my-style(13px, Work, 400, 1.5rem);
    }
  }
}

// - 3. Section  ---------------

.sectionThree {
  div {
    display: flex;
    justify-content: space-between;
    padding-top: 20vh;
    margin-left: 10vw;

    article {
      &:nth-of-type(1) {
        width: 25vw;
        line-height: 4.4rem;
      }
      &:nth-of-type(2) {
        width: 38vw;
        margin: 8vh 10vw auto auto;
        h4 {
          margin-bottom: 2vh;
        }
        p {
          @include my-style(1.2rem, Work, 400, 1.6rem);
        }
      }
    }
  }

  .twoImages {
    display: flex;
    flex-direction: column;
    img {
      &:nth-of-type(1) {
        width: 50vw;
        z-index: 1;
      }
      &:nth-of-type(2) {
        width: 28vw;
        z-index: 2;
        margin: -75vh 17vw -10vh auto;
      }
    }
  }
}

.greyBG {
  background-color: $ws;

  div {
    display: flex;
    justify-content: space-between;
    padding-top: 10vh;
    margin-left: 10vw;

    article {
      &:nth-of-type(1) {
        width: 25vw;
        line-height: 4.5rem;
      }
      &:nth-of-type(2) {
        width: 38vw;
        margin: 8vh 10vw auto auto;
        h4 {
          margin-bottom: 2vh;
        }
        p {
          @include my-style(1.2rem, Work, 400, 1.6rem);
        }
      }
    }
  }

  .twoImagesSpiegel {
    display: flex;
    flex-direction: column;
    img {
      &:nth-of-type(1) {
        width: 25vw;
        z-index: 2;
        margin: 10vh auto auto 10vw;
      }
      &:nth-of-type(2) {
        width: 50vw;
        z-index: 1;
        margin: -70vh 10vw 5vh auto;
      }
    }
  }
}

// - Animation ------------------

.animation {
  overflow: hidden;
  .circle {
    width: 35vw;
    position: relative;
    animation: rotate 8s linear infinite; /* Animation mit Namen "rotate" */
    margin-left: 75%;
    margin-top: -10%;
    margin-bottom: 20vh;
    padding: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Startposition: kein Drehwinkel (0 Grad) */
  }
  100% {
    transform: rotate(
      360deg
    ); /* Endposition: vollständige Drehung (360 Grad) */
  }
}

// - Media Queries -------------
// - Media Queies

@media only screen and (max-width: 769px) {
  .buttonStyle {
    font-size: 20px;
    font-family: Work;
    width: 30vw;
    padding: 2vh 4vw;
    border: 0.6px solid $w;
    background-color: $b;
    color: $ws;

    &:hover {
      color: $b;
      background-color: $w;
    }
  }

  h1 {
    @include my-style(3rem, Inter, 700, 2.2rem);
  }

  h2 {
    @include my-style(40px, Inter, 700, 60px);
  }

  h3 {
    @include my-style(60px, Inter, 700, 3rem);
  }

  h4 {
    @include my-style(1.3rem, Inter, 700, 2.5rem);
  }

  .numbers {
    @include my-style(80px, Inter, 600, 7rem);
  }

  header {
    width: auto;
    .bearButton {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      margin-top: 20vh;
      margin-bottom: 20vh;
    }
  }

  .sectionOne {
    article {
      flex-direction: column;
      justify-content: center;
      div {
        z-index: 2;
      }
      img {
        width: 60vw;
        margin: -60vh 10vw auto auto;
        z-index: 1;
      }
    }
  }

  .sectionTwo {
    width: 100vw;
    img {
      &:nth-of-type(1) {
        width: 50vw;
        margin: -5vh 10vw 5vh auto;
      }
      &:nth-of-type(2) {
        width: 30vw;
        margin: 0 5vw 5vh 0;
      }

      &:nth-of-type(3) {
        width: 40vw;
        margin: 5vh 0 0 auto;
      }
      &:nth-of-type(4) {
        width: 40vw;
        margin: -10vh auto 0 0vw;
      }
      &:nth-of-type(5) {
        width: 40vw;
        margin: 0vh 10vw 3vh auto;
      }
      &:nth-of-type(6) {
        width: 30vw;
        margin: -10vh auto 5vh 0;
      }
      &:nth-of-type(7) {
        width: 50vw;
        margin: -10vh auto -10vw 30vw;
      }
    }
    .stuck {
      width: 70vw;
      margin-left: 20vw;

      p {
        @include my-style(13px, Work, 400, 1.6rem);
        padding-right: 0vw;
      }
    }

    .stuck2 {
      width: 70vw;
      margin: 0vh auto 15vh 20vw;

      p {
        padding-right: 0vw;
        @include my-style(13px, Work, 400, 1.5rem);
      }
    }
  }

  .sectionThree {
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding-top: 20vh;
      //   margin-left: 0vw;
      article {
        &:nth-of-type(1) {
          width: 50vw;
          line-height: 4.4rem;
        }
        &:nth-of-type(2) {
          width: 60vw;
          margin: 8vh 10vw 0 0;
        }
      }
    }
    .twoImages {
      img {
        &:nth-of-type(1) {
          width: 60vw;
          z-index: 1;
          margin-top: 0vh;
        }

        &:nth-of-type(2) {
          width: 28vw;
          z-index: 2;
          margin: -30vh auto -10vh 50vw;
        }
      }
    }
  }

  .greyBG {
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding-top: 10vh;
      //   margin-left: 0vw;
      article {
        &:nth-of-type(1) {
          width: 50vw;
          line-height: 4.4rem;
        }
        &:nth-of-type(2) {
          width: 60vw;
          margin: 8vh 10vw 0 0;
        }
      }
    }
    .twoImagesSpiegel {
      img {
        &:nth-of-type(1) {
          width: 30vw;
          z-index: 2;
          margin: 10vh auto auto 0vw;
        }
        &:nth-of-type(2) {
          width: 60vw;
          z-index: 1;
          margin: -35vh 10vw 5vh auto;
        }
      }
    }
  }

  // - Animation ------------------

  .animation {
    overflow: hidden;
    .circle {
      width: 100vw;
      margin-left: 45vw;
      margin-top: -30%;
      margin-bottom: 5vh;
      padding: 0;
    }
  }

  //   - Footer -----------------
  footer {
    background-image: none;
    article {
      width: 70vw;
      margin-top: 15vh;

      h4 {
        line-height: 2rem;
      }
    }
    h1 {
      margin-top: 10vh;
      font-size: 8rem;
      color: white;
      span {
        color: black;
        -webkit-text-stroke: 1px white;
      }
    }

    .footerFlex {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 0;

      .socialMedia {
        width: 50vw;
        margin-bottom: 10vh;
        img {
          width: 10vw;
          margin: 0 3vw;
          margin-bottom: 4vh;
        }
        p {
          text-align: center;
        }
      }

      .logos {
        margin-bottom: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 15vw;
          margin: 0 5vw;
        }
      }
    }

    .diagonaleAnimation {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) rotate(0deg);
      white-space: nowrap;
      animation: diagonalMove 5s linear infinite;
    }

    @keyframes diagonalMove {
      0% {
        top: 0;
        left: 0;
      }
      100% {
        top: 0;
        left: 100%;
      }
    }
  }
}
